{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "globals": {
        "React": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "semi": "off",
        "no-console": "off",
        "indent": ["error",4, { "SwitchCase": 1 }],
        "consistent-return": "warn",
        "comma-dangle": "off",
        "no-useless-constructor": "off",
        "react/jsx-indent": ["warn", 4],
        "react/jsx-indent-props": ["warn", 4],
        "react/jsx-first-prop-new-line": "off",
        "react/jsx-closing-bracket-location": "off",
        "react/prop-types": "off"
    }
}
